<body style="background-color:black;color:white;">  
<center>
<h1 style="background-color:black;color:white;">Edit Article</h1>

<%= render 'form' %>

<%= link_to "Go Back", articles_path %>
</center>
</body>
