<body style="background-color:black;color:white;">
<center>
<h1 style="background-color:black;color:white;">404! Not Found</h1>

<p> Sorry but article with <strong>id: <%= params[:id] %></strong> is not found. </p>
<%= link_to "Articles", articles_path %>
|
<%= link_to "About", about_path %>
</center>
</body>
