<body style="background-color:black;color:white;">
<center>
<h1 style="background-color:black;color:white;">About Blog! </h1>
<p><pre><li>Created By Shobhit Jain</li><li>With Ruby on Rails</li></pre></p>

<%= link_to "Articles", articles_path %>
|
<%= link_to "Home", root_path %>
</center>
</body>
